<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharman.yukon" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yukon_launcher_v2"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/YukonMainTheme" >
        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=yukon-1085" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.activities.main.DisconnectedActivity"
            android:label="@string/activityTitle.disconnected"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.main.TeacherMainActivity"
            android:label="@string/activityTitle.main"
            android:screenOrientation="nosensor" >
        </activity>

        <activity
            android:name=".view.activities.main.StudentMainActivity"
            android:label="@string/activityTitle.main"
            android:screenOrientation="nosensor" >
        </activity>



        <!-- * Exam Creation Activities * -->
        <activity
            android:name=".view.activities.creation.ExamCreateActivity"
            android:label="@string/activityTitle.examCreate"
            android:parentActivityName=".view.activities.main.TeacherMainActivity"
            android:screenOrientation="nosensor" >
        </activity>

        <activity
            android:name=".view.activities.creation.QuestionsCreateActivity"
            android:label="@string/activityTitle.questionCreate"
            android:screenOrientation="nosensor" >
        </activity>



        <!-- * Exam Answering Activities * -->
        <activity
            android:name=".view.activities.answering.ExamAnsweringActivity"
            android:label="@string/activityTitle.examAnswering"
            android:parentActivityName=".view.activities.main.StudentMainActivity"
            android:screenOrientation="nosensor" >
        </activity>

        <activity
            android:name=".view.activities.answering.QuestionAnsweringActivity"
            android:label="@string/activityTitle.questionAnswering"
            android:screenOrientation="nosensor" >
        </activity>

        <activity
            android:name=".view.activities.answering.ExamAnsweringConfirmActivity"
            android:label="@string/activityTitle.examAnsweringConfirm"
            android:screenOrientation="nosensor" >
        </activity>



        <!-- * Exam Managing Activities * -->
        <activity
            android:name=".view.activities.managing.ExamManagingActivity"
            android:label="@string/activityTitle.examManaging"
            android:parentActivityName=".view.activities.main.TeacherMainActivity"
            android:screenOrientation="nosensor" >
        </activity>

        <activity
            android:name=".view.activities.managing.ExamManagingStudentsActivity"
            android:label="@string/activityTitle.examManagingStudents"
            android:screenOrientation="nosensor" >
        </activity>

        <activity
            android:name=".view.activities.managing.ExamManagingStudentInspectActivity"
            android:label="@string/activityTitle.examManagingStudentInspect"
            android:screenOrientation="nosensor" >
        </activity>
    </application>

</manifest>
